attrs==20.2.0
black==20.8b1
click==7.1.2
coverage==5.3
gevent==1.4.0
gevent-websocket==0.10.1
Flask==1.1.2
Flask-SocketIO==4.3.1
gunicorn==20.0.4
greenlet==0.4.15
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
pytest-cov==2.10.1
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.1.2
redis==3.5.3